#### Functions with Outputs

In [7]:
def my_function():
    result = 3*2
    return result

my_function()

6

In [8]:
def my_function():
    return 3*2
    

my_function()

6

In [17]:
def formate_name(f_name, l_name):
    formated_f_name=f_name.title()
    formated_l_name=l_name.title()
    print(f"{formated_f_name} {formated_l_name}")

formate_name("kshitij","chaudhary")

Kshitij Chaudhary

In [33]:
def function_1(num):
    return num * num

def function_2(text):
    return text.title()

print(function_1(5))


function_2("kshitij")


#print(output)

25

'Kshitij'

In [23]:
def formate_name(f_name, l_name):
    formated_f_name=f_name.title()
    formated_l_name=l_name.title()
    return f"{formated_f_name} {formated_l_name}"

formate_name("kshitij","chaudhary")

'Kshitij Chaudhary'

In [22]:
def formate_name(f_name, l_name):
    formated_f_name=f_name.title()
    formated_l_name=l_name.title()
    return f"{formated_f_name} {formated_l_name}"

output=formate_name("kshitij","chaudhary")
print(output)

Kshitij Chaudhary

In [44]:
def formate_name(f_name, l_name):
    if f_name ==" " or l_name==" ":
        return "You don't provide any valid input."
    
    
    formated_f_name=f_name.title()
    formated_l_name=l_name.title()
    return f"Result :-{formated_f_name} {formated_l_name}"

print(formate_name(input("What is your first name?:-"),input("What is your last name?:-")))

What is your first name?:- Kshitij
What is your last name?:-

Result :-Kshitij

### Leap Year

In [45]:
def is_leap_year(year):
    
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

# Test cases
print(is_leap_year(2400))  # Expected output: True
print(is_leap_year(1989))  # Expected output: False
print(is_leap_year(2000))  # Expected output: True
print(is_leap_year(2100))  # Expected output: False

True
False
True
False

###  Calculator Project

In [51]:
def add(n1 ,n2):
    return n1+n2

def substract(n1, n2):
    return n1-n2

def multiply(n1,n2):
    return n1*n2

def divide(n1,n2):
    return n1/n2

operatinos={
    "+":add,
    "-":substract,
    "*":multiply,
    "/":divide,

}
n1=float(input("What is the first number:-"))

should_accumulate=True
while should_accumulate:
    for symbol in operatinos:
        print(symbol)

    operations_symbol=input("What is the operation:-")

    n2=float(input("What is the second number:-"))

    answer=(operatinos[operations_symbol](n1,n2))

    print(f"{n1} {operations_symbol} {n2} = {answer}")

    choice=input(f"Type 'y' to continue calcuation with {answer} or type 'n' to start new calcuation :-")
    if choice="y":
        n1=answer

    else:
        should_accumulate=False

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3774992782.py, line 36)